mixin service__descr(indx, descr__name, descr__text)
	div(class="popup", id='descr__popup-' + indx)
		header.popup__header
			| descr__name
			a(class="popup__close b-close", id="close-popup") Крестик
		.popup__descr
			span.popup__text desrc__text

mixin products__item(name, dest, img, chars, values, price, stage)
	li.products__item
		.products__item-inner
			.products__left
				.products__image
					a(href="#").products__image-display
						img(src="img/" + dest + img + ".jpg", alt= name).products__image-pic
				.products__desc
					.products__desc-title= name
					ul.products__desc-options 
						- var index = 0;
						- for (var i = 0; i < chars.length; i++)
							li(class="products__option-item " + ((index++ % 2) ? '' : 'products__option-item-odd') )
								.products__options-key= chars[i]
								.products__options-value= values[i]
			.products__right
				.products__info
					.products__price
						span.products__price-label Цена
						span.products__price-num= price
							i.rub
					.products__price
						span.products__price-label Установка
						span.products__price-num= stage
							i.rub
				.products__info-button
					a(href="#").products__buy-btn Заказать

mixin first_part_of_desc(descrip_title, img_src, descrip_for_img, paragraph_below)
		p.full_desc_for_product!=descrip_title
		table
			tbody
				tr.img_row
					each val in img_src
						td
							img(src=val)

				tr.desc_for_img_row
					each val in descrip_for_img	
						td
							p!=val
		p.paragraph_below!=paragraph_below 
//
	mixin list_in_desc(title_list, list_values, list_href)
		div.wrapper_list_in_text
			p.title_list!=title_list
			ul
				each val, index in list_values
					li
						a(href=list_href[index])!=val


