extends ../main

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/page.css")

block title
	| Лежачий полицейский

mixin goods__item(link, dest, img, name, desc, size, key, value)
	tr.goods__table-line
		td.goods__table-cell.goods__img-cell
			a.goods__img-link(href=link + ".html")
				img.goods__img-pic(src="img/" + dest + img + ".jpg", alt=name)
		td.goods__table-cell.goods__name-cell
			a(href= link + ".html").goods__name-text= name
			.goods__name-desc= desc
		td.goods__table-cell.goods__size-cell
			header.goods__size-head Размер дорожного знака
			.goods__size-text= size
		td.goods__table-cell.goods__price-cell
			ul.goods__price-list
				- var index = 0;
				- for (var i = 0; i < 4; i++)
					li(class="goods__price-item clearfix " + ((index++ % 2) ? '' : 'goods__price-item-odd'))
						.goods__price-key= key[i]
						.goods__price-value= value[i]

block main-content	
	nav.bread
		ul.bread__list
			- var items = {'index.html': 'Главная', 'goods.html' : 'Товары', '#': 'Дорожные знаки'}
			each val, index in items
				li(class="bread__item" + ((val=== 'Дорожные знаки') ? ' active' : '' ) )
					a(href= index, class="bread__link")= val

	section.section.goodsSection
		table.goods__table
			- var znak__links = ['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']
			- var znak__dest = 'znaki/'
			- var znak__images = ['a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95', 'a95']
			- var znak__names = ['Дорожные знаки треугольные', 'Дорожные знаки квадратные', 'Дорожные знаки круглые', 'Дорожные знаки', 'Дорожные знаки таблички', 'Дорожные знаки СТОП', 'Дорожные знаки сервиса', 'Дорожные знаки движения по полосам', 'Дорожные знаки таблички', 'Дорожные знаки выезд', 'Дорожные знаки ЖД', 'Дорожные знаки ЖД', 'Дорожные знаки поворота', 'Дорожные знаки поворота', 'Дорожные знаки поворота', 'Дорожные знаки препятствия', 'Дорожные знаки указатели', 'Дорожные знаки щиты', 'Фундамент дорожного знака', 'Стойка дорожного знака', 'Крепеж дорожного знака']
			- var znak__descrs = ['1.1-1.2, 1.5-1.33, 2.3.1-2.3.7, 2.4', '2.1, 2.2, 2.7, 5.5, 5.6, 5.8, 5.9-5.12, 5.19, 5.20, 6.2-6.8.3, 8.13', '2.6, 3.1-3.33, 4.1.1-4.7', 'Остановки 5.16-5.18, Жилая зона 5.21, 5.22, Зона с ограничением стоянки 5.27-5.34', 'Километровый знак тип 6.13', 'тип 2.5', 'тип 7.1-7.18', 'тип 5.15.1, 5.15.7', 'Таблички "Зона действия" и т.д. 8.1.1-8.1.2, 8.1.3-8.21.3', '"Выезд на дорогу с односторонним движением" тип 5.7.1-5.7.2. Схема объезда 6.17', 'Однопутная железная дорога тип 1.3.1', 'Многопутная железная дорога, тип 1.3.2', 'Направление поворота, тип 1.34.1-1.34.2', 'Направление поворота, тип 1.34.1-1.34.3', 'Направление поворота, тип 1.34-1.34.4', 'Препятствие, тип 8.22.1-8.22.3', 'Указатель перестроения на другую проезжую часть 6.19.1-6.19.2', 'Щиты индивидуального проетирования', '', '', '']
			- var znak__sizes = ['900 мм', '700х700 мм', 'Ф700 мм', '600х900 мм', '300х200 мм', '700 мм', '1050х700 мм', '1400х700 мм', '700х350 мм', '1050х350 мм', '', '', '500х615 мм', '500х1160 мм', '500х2250 мм', '500х1700 мм', '1500х2000 мм', 'За один м2', '500х500х300 мм', 'Ф76 4000 мм', 'За комплект']
			- var znak__keys = ['Маска', 'Тип А (5 лет)', 'Тип А (7 лет)', 'Тип Б (10 лет)']
			- var znak__values = [['399р', '799р', '850р', '1350р'], ['450р', '899р', '1050р', '1499р'], ['450р', '899р', '1050р', '1499р'], ['499р', '999р', '1099р', '1699р'], ['199р', '399р', '499р', '699р'], ['499р', '949р', '999р', '1599р'], ['699р', '1299р', '1399р', '2299р'], ['899р', '1799р', '1899р', '3199р'], ['299р', '549р', '599р', '799р'], ['399р', '749р', '799р', '1299р'], ['', '899р', '999р', '1499р'], ['', '1299р', '1399р', '2299р'], ['349р', '640р', '699р', '1099р'], ['699р', '1299р', '1399р', '2399р'], ['899р', '3899р', '3999р', '5599р'], ['799р', '1499р', '1599р', '2699р'], ['', '',  '', ''], ['', '3299р',  '3599р', '4999р'], ['599р', '',  '', ''], ['1799р', '',  '', ''], ['250р', '',  '', '']]

			- for (var i = 0; i < znak__names.length; i++)
				+goods__item(
					znak__links[i],
					znak__dest,
					znak__images[i],
					znak__names[i],
					znak__descrs[i],
					znak__sizes[i],
					znak__keys,
					znak__values[i])
			
	- var this_desc_title = 'Описание "Знаки дорожные"'
	- var this_img_src = ['http://www.strod-servis.ru/images/000.jpg','http://www.mosarz10.ru/_pictures/dsc01310.jpg','http://golovinskiy.mos.ru/upload/medialibrary/816/vydvizhnye-stolbiki.jpg'] 
	- var this_desc_for_img = ['Ограждение территории','Защита индивидуального парковочного места', 'Заградитель проезда']
	- var this_paragraph_below = '<p>Знаки дорожные</p>'
	
	section.section
		header.section__header
			h2.section__header-name= this_desc_title
		.full-desc__first-part__wrapper
			+full-desc__first-part(this_img_src, this_desc_for_img, this_paragraph_below)

			- var this_title_list = 'В данный момент мы предлагаем 5 вариантов парковочных барьеров:' 
			- var this_list_values = ['парковочный барьер "треугольный" БТК-3','стандартный антипарковочный барьер АБ-1','усиленный парковочный барьер АБ-1У','усиленный люксовый парковочный барьер АБ-1УЛ', 'нержавеющий парковочный барьер АБН-1']

			-var this_list_href = ['#','#','#','#','#']

			//+fullDesc__list(this_title_list, this_list_values, this_list_href)